* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

  body {

      /* background-color: #313030; */
      background-color: black;
  }

  .background{

        background-image: url("uni.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
  }

/* Navbar */
.navbar {

  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 auto;
}


.navbar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}
.navbar__links:hover{
  color: #b32266;

}

#date{
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  margin-right: 20px;
}

.navbar__menu{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;

}

.dropbtn {
  color: white;
  padding: 2px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;

}

.dropbtn:hover{
  color: #b32266;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #131313;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b32266;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #131313;
}

.show {
  display: block;
}

.box{
  position: relative;
}

.input {
  padding: 10px;
  width: 65px;
  height: 65px;
  background: none;
  border: 4px solid #b32266;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 26px;
  color: #fff;
  outline: none;
  transition: .5s;
}
.box:hover input{
  width: 350px;
  background: #3b3640;
  border-radius: 10px;
}
.box i{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%,-50%);
  font-size: 26px;
  color: #b32266;
  transition: .2s;
}
.box:hover i{
  opacity: 0;
  z-index: -1;
}

@media screen and (max-width: 600px){
  .about{
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 850px) {
  .navbar__container {
      display: block;
 }
 .navbar {
  display: none;
  position: absolute;
  top: 3.7rem;
  left: 0;
  width: 100%;
  text-align: center;
}
}
/* Main section */

.main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.main__content{
  text-align: center ;
  color: #fff;
}

.hr{
border-radius: 5px;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: auto;
margin-right: auto;
border-width: 10px;
width: 15%;
height: 10px;
color: #fff;
background-color: #fff;
}


.cards {
background-color: black;
justify-content: center;
display: flex;
flex-wrap: wrap;
list-style: none;
}

.cards_item {
display: flex;
padding: 1rem;
}

@media (min-width: 40rem) {
.cards_item {
  width: 50%;
}
}

@media (min-width: 56rem) {
.cards_item {
  width: 33.3333%;
}
}

/* Card Section */

.card {
background-color: transparent;
border-radius: 0.25rem;
border: 1px solid #fff;
box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
display: flex;
flex-direction: column;
overflow: hidden;
display: flex;
flex-wrap: wrap;
}

.card_content {
padding: 0.800rem;
justify-content: center;
align-items: center;
font-size: 1.2rem;
margin-top: 4rem;
/* background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%); */
}

.card_title {
justify-content: center;
color: #ffffff;
/* font-weight: 300;
letter-spacing: 1px;
text-transform: capitalize;
margin: 0px; */
}

.card_text {
text-align: center;
color: #ffffff;
font-size: 1.2rem;
/* font-size: 1.2rem;
line-height: 1.5;
margin-bottom: 1.25rem;
font-weight: 200; */
}

.card_item{
display: flex;
padding: 1rem;
}

.btn-submit{
  background-color: #b32266;
  color: #fff;
  border: solid 1px #b32266;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 20px;
  width: 100%;
}

.other_text{
  text-align: center ;
  margin-top: 10%;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 100;
}

/* Video Section */

.video-btns{
  display: flex;
  justify-content: center;
  align-items: center;
}

.video_card{

  display: flex;
  justify-content: center;
  align-items: center;
}
.video_content{
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.btn-classes{
  background-color: #b32266;
  color: #fff;
  border: solid 1px #b32266;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  padding:10px;
  margin-right: 20px;
}
.btn-orders{
  background-color: #b32266;
  color: #fff;
  border: solid 1px #b32266;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  padding:10px;
  margin-left: 20px;
}

.email{
  color: #131313;
  background-color: #ddd;
  border: solid 1px #fff;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.video-text{
  color: #fff;
  font-size: 1.5rem;
  margin-left: 5.5rem;
}